<div class="container-fluid">
    <div class="row">
        <div  style="background: #303030; height: 93vh;" class="col-md-3">
            <div >
                <mat-card class="mt-3" style="padding: 10px;">
                    <form [formGroup]="todoForm">
                        <mat-form-field  appearance="outline" style="width: 100%;">
                            <mat-label>Task Name</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Add task name</mat-hint>
                          </mat-form-field><br>
                          <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
                          <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid" color="primary">Update</button>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9 mt-3">
          <div cdkDropListGroup>
            <div class="row">
                <div class="col-md-4">
                    <!--todo-->
                    <div class="example-container">
                      <h2 class="had-title">TO DO <span *ngIf="tasks.length>0" >- {{tasks.length}} </span></h2>
                      <div
                        cdkDropList
                        [cdkDropListData]="tasks"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                            <div class="box">
                                <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                <button mat-icon-button color="primary" (click)="onEdit(item, i)"><mat-icon>edit</mat-icon></button>
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                     <!--inProgres--> 
                     <div class="example-container">
                      <h2 class="had-title">IN PROGRESS <span *ngIf="inProgress.length>0" >- {{inProgress.length}} </span></h2>
                      <div
                        cdkDropList
                        [cdkDropListData]="inProgress"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of inProgress; let i = index" cdkDrag>{{item.description}}
                            <div class="box">
                                <button mat-icon-button color="warn" (click)="deleteInProgress(i)"><mat-icon>delete</mat-icon></button>
                                
                             </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <!--done-->
                      <div class="example-container">
                          <h2 class="had-title">DONE <span *ngIf="done.length>0" >- {{done.length}} </span></h2>
                          <div
                            cdkDropList
                            [cdkDropListData]="done"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteDone(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="accent" ><mat-icon>check_circle</mat-icon></button>
                                 </div>
                            </div>
                          </div>
                        </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
</div>
